.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 92px 48px 24px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1279px) {
  .footer {
    padding: 92px 48px 24px;
  }
}

@media (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 24px;
  }
}
